.App {
    background-color: black;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.navBar {
    height: 5.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: fixed;
    background: linear-gradient(#000000, #00000000);
    width: 100vw;
    z-index: 1;
}

.menu {
    color: white;
}

.menu ul {
    display: flex;
    margin-left: 50px;
    
}

.menu li {
    margin-right: 22px;
    cursor: pointer;
}

.menu li:not(:first-child) {
    font-weight: 300;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5rem;
}

.logo img {
    width: 7rem;
}

.highlight {
    display: flex;
    justify-content: center;
}

.bgPicture img {
    width: 100vw;
    max-width: 1500px;
    margin: 0 auto;
}

.titlePicture {
    width: 35vw;
    position: absolute;
    top: 30vh;
    left: 50px;

}
.titlePicture img {
    width: 35vw;
}

.titlePicture p {
    color: white;
    font-weight: 300;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 10px;
}

.category {
    color: white;
    font-weight: 700;
    font-size: 18px;
    
}

.thumbnails {
    display: flex;
    overflow: hidden;
    margin-bottom: 40px;
    overflow-x: scroll;
}

.thumbnails img {
    margin-top: 15px;
    width: 230px;
    border-radius: 6px;
    margin-right: 4px;
}

button:first-child {
    width: 120px;
    margin-top: 30px;
    margin-left: 10px;
    height: 45px;
    outline: inherit;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
}

button:last-child {
    width: 165px;
    margin-top: 30px;
    margin-left: 10px;
    height: 45px;
    background-color: rgb(169, 169, 169);
    outline: inherit;
    border: none;
    border-radius: 5px;
    font-size: 19px;
    font-weight: 700;
    color: white;
}

.thumbnails-list {
    margin-left: 40px;
    
}